<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <title>Stat Smash</title>

    <meta name="authStator" content="your name" />
    <meta name="description" content="" />

    <link rel="stylesheet" href="{% static "admin/css/main.css" %}" type="text/css" />
</head>
<body>
 <div class="header">
            <img src="{% static "admin/img/Stat Smash.png" %}" width="200" height= "200" alt="Stat Smash Logo">
            <h1>Stat Smash</h1>
        </div>
    <div id="page">
        <div id="nav">
                <a href="/">Home</a>
                <a href="/logout/">Logout</a>
        </div>
        <div class="sidenav">
            {% for game in games %}
                <a href="/game/{{ game.id }}">{{ game.game_title }}</a>
            {% endfor %}
            <br>
            <form action="/addGame/" method="post">
                {% csrf_token %}
                <label for="addGame">Add Title: </label>
                <input id="addGame" type="text" name="game" required><br>
                <label for="addGame">Add Character: </label>
                <input id="addChar" type="text" name="char" required><br>
                <input type="submit" value="Add!">
            </form>
        </div>

    </div>
    <div>
        <ul>
        {% for char in chars %}
            <li><a href="/character/{{ char.id }}">{{ char }}</a></li>
        {% endfor %}
        </ul>
    </div>

    <div>
        <ul>
            <li>Games Played: {{ games_played }}</li>
            <li>Wins: {{ wins.wins__sum }}</li>
            <li>Losses: {{ losses }}</li>
            <li>Kills: {{ kills.kills__sum }}</li>
            <li>Deaths: {{ deaths.deaths__sum }}</li>
            <li>Damage Dealt: {{ damageDealt.damage_dealt__sum }}</li>
            <li>Damage Received: {{ damageReceived.damage_received__sum }}</li>
        </ul>
    </div>
</body>
</html>