<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <title>Stat Smash</title>

    <meta name="authStator" content="your name" />
    <meta name="description" content="" />

    <link rel="stylesheet" href="{% static "admin/css/main.css" %}" type="text/css" />

</head>
<body>
    <div id="page">
        <div id="logo">
            <img src="{% static "admin/img/Stat Smash.png" %}" width="200" height= "200" alt="Stat Smash Logo">
            <h1>Stat Smash</a></h1>
        </div>
        <div id="nav">

                <a href="/">Home</a>

        </div>
        <div class="sidenav">
            <a href="#">Super Smash Bros.</a>
            <a href="#">Rainbow 6 Siege</a>
            <a href="#">Add New Game</a>
        </div>
        <div id="content">
            <h2>Home</h2>
            <p>
                Welcome to Stat Smash!
            </p>
            <p>
                Stat Smash is a website designed to keep track of you and your friends statistics across multiple games and platforms. Simply add a game in the menus and begin to record data such as win/loss, kill/death, damage given, damage taken, and even specific data for each character!
            </p>
        </div>
        <div id="footer">
            <p>
                 Webpage made by <a href="/" target="_blank">[your name]</a>
            </p>
        </div>
    </div>

</body>
</html>