{% extends "base.html" %}
{% block content %}
        <div id="content">
            <h2>Home</h2>
            <p>
                Welcome to Stat Smash!
            </p>
            <p>
                Stat Smash is a website designed to keep track of you and your friends statistics across multiple games and platforms. Simply add a game in the menus and begin to record data such as number of games played, win/loss, kill/death, damage given/damage recieved, and even specific data for each character competing!
            </p>
            <p>
                We were inspired to create this hack because of the popularity of these games within our friend group as well as the idealness of tracking our statistics across the games we play. We created this hack to be very open to the user and could be used for a multitude of different games.
            </p>
        <form action="/search/" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Search.." name="search">
            <button type="submit">Search</button>
        </form>
        </div>
{% endblock %}
