p{ line-height: 1em;}
h1{
    color:black;
    font-weight:normal;
    line-height: 4em;
    margin: 0 0 .5em 0;
}
h2, h3, h4{
    color: red;
    font-weight: normal;
    line-height: 1.1em;
    margin: 0 0 .5em 0;
}
.header img{
    float: left;
    margin: 10px;
}
.header h1{
    position: relative;
    top:18px;
    left: 10px;
}
h1{ font-size: 3.5em;}
h2{ font-size: 2.3em;}
a{
    color:black;
    a:active{ text-decoration: none;}
}
    a:hover,
    a:active{ text-decoration: underline; }

body{
    font-family:arial; font-size: 90%; line-height: 1.5em; width: 85%; margin: 0; background: #eee; margin-left:160px; padding: 0px 10px;
}
#page{ margin:20px;}
#logo{
    width:35%;
    margin-top: 5px;
    font-family: Arial;
    display: inline-block;
}
.sidenav{
    height: 100%;
    width: 160px;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration:none;
    font-size: 25 px;
    color: #eeeeee;
    display: block;
}
.sidenav a:hover {
    color: red;
}
#nav{
    width: 60%;
    display: inline-block;
    text-align: right;
    float: right;
}
#nav {
            diplay: inline-block;
            height: 62px;
        }
            #nav a{
                padding:20px;
                background: red;
                color: white;
            }
            #nav a:hover{
                background-color: red;
                box-shadow: 0px 1px 1px #666;
            }
            #nav a:active{ background-color: red;}
#content{
    margin: 30px 0;
    background: white;
    padding: 20px;
    clear: both;
}
#footer{
    border-bottom: 1px #ccc solid;
    margin-bottom: 10px;
}
    #footer p{
        text-align: right;
        text-transform: uppercase;
        font-size: 80%;
        color: grey:
    }
#content
ul li a{box-shadow: 0px 1px 1px #999;}


